<h3>Post List</h3>
<a routerLink="/post/add" class="btn btn-primary">Add Post</a>
<table class="table table-striped" *ngIf="postList$ | async as postsList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of postsList">
            <td>{{list.id}}</td>
            <td>{{list.title}}</td>
            <td>{{list.description}}</td>
            <td>
                <a [routerLink]="['/post', 'edit', list.id]" class="btn btn-primary me-2">Edit Post</a>
                <a [routerLink]="['/post', 'details', list.id]" class="btn btn-primary me-2">View Details</a>
                <a (click)="onDelete(list)" class="btn btn-primary me-2">Delete Post</a>
            </td>
        </tr>
    </tbody>
</table>